PYTHONPATH=.
ANDROZOO_API_KEY=
OPENAI_API_KEY=
VIRUS_TOTAL_API_KEY=

CACHE_FOLDER=/mnt/storage/data/cache
APK_FOLDER=/mnt/storage/data/apks
RULE_FOLDER=/mnt/storage/data/generated_rules
DATASET_CACHE_FOLDER=data/dataset
ANALYSIS_RESULT_FOLDER=/mnt/storage/data/analysis_results

MLFLOW_PORT=55688
MALWAREBAZAAR_API_KEY=
